@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
	background: url('./background\ cloud.jpg') no-repeat;
	background-size: cover;
	font-family: 'Amatic SC', cursive;
	font-size: 1.1rem;
}
#mainContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}
h1{
	color: white;
	text-shadow: 2px 2px steelblue;
	font-size: 3rem;
	margin: 1rem 0;
	animation: minhoca 1s;
}
#weatherResult {
	width: 50%;
	text-align: center;
}

input {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 2px solid steelblue;
	outline: 1px solid steelblue;
	text-align: center;
}

/* TODAY */
#upper {
	height: auto;
	margin: 10px 0;
	border: 2px solid white;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}
/* OTHER DAYS */
#bottom {
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.otherdays {
	width: 23%;
	border: 2px solid white;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

@keyframes minhoca{
	0% {
		padding-top: 0px;
	}
	30% {
		padding-top: 9px;
	}
	40% {
		padding-top: 4px;
	}
	50% {
		padding-top: 6px;
	}
	60% {
		padding-top: 2px;
	}
	70% {
		padding-top: 4px;
	}
	80% {
		padding-top: 1px;
	}
	90% {
		padding-top: 3px;
	}
	100% {
		padding-top: 0px;
	}
}

@media only screen and (max-width: 1050px) {
	body{
		background-size: auto 100vh;
	}
	#weatherResult {
		width: 85%;
	}
	img{
		width: 75px;
		height: 75px;
	}
}